#app {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

header {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial; /*flex: 0 1 auto*/
}

nav {
    width: 90%;
    margin: 0 5%;
    padding: 1em 0;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

nav a {
    color: #001f99; /*dark magenta*/
    text-decoration: none;
}

nav a.router-link-exact-active {
    color: #f23005; /*orange*/
}

button {
    background: transparent;
    border: 2px solid #001f99;
    border-radius: 8px;
    flex: initial; /*flex: 0 1 auto*/
}

@media all and (min-width: 300px) {
    button {
        width: 24%;
    }
}

@media all and (min-width: 400px) {
    button {
        width: 22%;
    }
}

@media all and (min-width: 500px) {
    button {
        width: 20%;
    }
}

section {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

.stats-panel {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

.jumps-panel {
    width: 100%;
    margin: 0;
    padding: 0%;
    background: #fff;
    border-top: 2px solid #001f99; /*dark magenta*/
    border-right: 2px solid #001f99; /*dark magenta*/
    border-left: 2px solid #001f99; /*dark magenta*/
    position: sticky;
    bottom: 0;
    flex: initial; /*flex: 0 1 auto*/
    text-align: center;
    animation: moveUp 3s ease 500ms 1 normal both;
}

/*animation for .jumps-panel*/
@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translate(0, 2.2em);
    }
    100% {
        opacity: 0.95;
        transform: translate(0, 0);
    }
}  

.info-panel {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

.cursor-pointer:hover {
    cursor: pointer;
}

.gallery-title {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

.senator-card {
    margin: 0;
    padding: 1em 0;
    text-align: center;
    flex: initial; /*flex: 0 1 auto*/
}

@media all and (min-width: 300px) {
    .senator-card {
        width: 50%;
    }
}

@media all and (min-width: 400px) {
    .senator-card {
        width: 47.5%;
    }
}

@media all and (min-width: 500px) {
    .senator-card {
        width: 45%;
    }
}

.senator-card-detail {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial; /*flex: 0 1 auto*/
}

figure {
    width: 100%;
    margin: 0;
    padding: 0;
}

/*Image becomes no larger than actual size.*/
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*FONTS and thie media queries below*/
figcaption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
    color: #616161; /*grey 700*/
}

button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 600;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
}

p a {
    color: #1976d2; /*blue 700*/
    text-decoration: none;
}

p a:hover {
    color: #1976d2; /*blue 700*/
    text-decoration: underline;
}

header p {
    line-height: 1.2;
    margin-bottom: .5em;
}

.jumps-panel p {
    color: #001f99; /*dark magenta*/
    line-height: 1.2;
    margin-top: .5em;
    margin-bottom: .5em;
}

.jumps-panel a {
    color: #001f99; /*dark magenta*/
    text-decoration: none;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: .25em;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 700;
}

.gallery-title h2 {
    margin-top: .25em;
    margin-bottom: .25em;
}

@media all and (min-width: 300px) {
    figcaption {
        font-size: .75em; /*12px*/
    }

    button {
        font-size: .8125em; /*13px*/
    }

    p {
        font-size: .875em; /*14px*/
    }

    .jumps-panel p {
        font-size: .6875em; /*11px*/
    }

    h1 {
        font-size: 1em; /*16px*/
    }

    h2 {
        font-size: .9375em; /*15px*/
    }

}

@media all and (min-width: 400px) {
    figcaption {
        font-size: .8125em; /*13px*/
    }

    button {
        font-size: .875em; /*14px*/
    }

    /*p {
        font-size: same as above;
    }*/

    .jumps-panel p {
        font-size: .75em; /*12px*/
    }

    h1 {
        font-size: 1.2em; /*19.2px*/
    }

    /*h2 {
        font-size: same as above;
    }*/

}

@media all and (min-width: 500px) {
    figcaption {
        font-size: .875em; /*14px*/
    }

    button {
        font-size: .9375em; /*15px*/
    }

    p {
        font-size: .9375em; /*15px*/
    }

    .jumps-panel p {
        font-size: .875em; /*14px*/
    }

    h1 {
        font-size: 1.4em; /*22.4px*/
    }

    h2 {
        font-size: 1em; /*16px*/
    }

}

@media all and (min-width: 600px) {
    figcaption {
        font-size: .9375em; /*15px*/
    }

    button {
        font-size: 1em; /*16px*/
    }

    p {
        font-size: 1em; /*16px*/
    }

    .jumps-panel p {
        font-size: 1em; /*16px*/
    }

    h1 {
        font-size: 1.6em; /*25.6px*/
    }

    /*h2 {
        font-size: same as above;
    }*/
}